<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	
<listeners>
<listener class-name="abhishekpateriya.TestComponents.Listeners"/>
</listeners>

  <!--<test thread-count="5" name="Test">-->
	   <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="abhishekpateriya.SeleniumFrameworkDesign.SubmitOrderTest"/>
     <!-- <class name="abhishekpateriya.TestComponents.BaseTest"/>
      <class name="abhishekpateriya.SeleniumFrameworkDesign.ErrorValidations"/>-->
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Error Validations Test">
    <classes>
     <!--  <class name="abhishekpateriya.SeleniumFrameworkDesign.SubmitOrderTest"/>-->
     <!-- <class name="abhishekpateriya.TestComponents.BaseTest"/>-->
      <class name="abhishekpateriya.SeleniumFrameworkDesign.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
